@use 'variables/global' as *;
@use 'reset' as *;
@use 'themes/dark' as *;
@use 'themes/normal' as *;

.app {
  font: var(--font-m);

  background: var(--bg-color);

  color: var(--primary-color);

  height: 100vh;
  width: 100%;
}
