@use 'variables/global' as *;
@use 'reset' as *;
@use 'themes/dark' as *;
@use 'themes/normal' as *;

.app {
    font: var(--font-m);

    background: var(--bg-color);

    color: var(--primary-color);

    height: 100vh;
    width: 100%;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
