.mainContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
}

.inputGroup {
    display: flex;
    width: 30%;
    min-width: 16rem;
    flex-direction: column;
    gap: 1rem;
}

.loginLink {
    background-color: transparent;
    outline: none;
    font: var(--font-s);
    font-weight: 500;
    border: none;
    color: var(--text-covered);
}

.underlinedText {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: var(--spacing-xl);
}
